<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.groupware.mapper.BoardMapper">

	<resultMap type="com.groupware.dto.BoardDTO" id="testMap">
		<result property="boardIdx" column="BOARD_idx"/>
		<result property="employeeIdx" column="EMPLOYEE_IDX"/>
		<result property="boardType" column="BOARD_TYPE"/>
		<result property="content" column="CONTENT"/>
		<result property="File" column="FILE"/>
		<result property="insDate" column="INS_DATE"/>
		<result property="updDate" column="UPD_DATE"/>
		<result property="state" column="STATE"/>
		<result property="title" column="title"/>
	</resultMap>
	
  <select id="getBoardList" resultMap="testMap">
  	select * from board
  </select>
  
   <insert id="insert">
  	 insert into board(BOARD_IDX,EMPLOYEE_IDX, BOARD_TYPE, "CONTENT","FILE",INS_DATE,UPD_DATE,STATE,TITLE)
  	 values(BOARD_SEQ.NEXTVAL,#{employeeIdx},#{boardType},#{content},#{File},SYSDATE,SYSDATE,#{state},#{title})
  </insert>
  <!-- 
  <insert id="insertSelectKey">
  	<selectKey keyProperty="boardIdx" order="BEFORE" resultType="long">
  		select BOARD_SEQ.nextval from dual
  	</selectKey>
  	insert into board(bno, title, content, writer)
  	values(#{boardIdx}, #{title}, #{content}, #{writer})
  </insert>
   -->
  
  <select id="read" resultType="com.groupware.dto.BoardDTO">
  	select * from board where BOARD_idx = #{boardIdx}
  </select>
  
  <delete id="delete">
  	delete from tbl_board where bno = #{bno}
  </delete>
  
  <update id="update">
	  update
	  	tbl_board
	  set
	  	title = #{title},
	  	content = #{content},
	  	updateDate = sysdate
	WHERE bno = #{bno}
  	
  </update> 
</mapper>