<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.groupware.mapper.NoticeMapper">

	<resultMap type="NoticeDTO" id="NoticeMap">
	  <id property="noticeIdx" column="NOTICE_IDX"/>
	  <result property="employeeIdx" column="EMPLOYEE_IDX"/>
	  <result property="title" column="TITLE"/>
	  <result property="content" column="CONTENT"/>
	  <result property="file" column="FILE"/>
	  <result property="insDate" column="INS_DATE"/>
	  <result property="updDate" column="UPD_DATE"/>
	  <result property="state" column="STATE"/>
	  <association property="employeeDTO" javaType="EmployeeDTO">
	  	<id property="employeeIdx" column="EMPLOYEE_IDX"/>
	  	<result property="name" column="NAME"/>
	  	<result property="enName" column="EN_NAME"/>
	  </association>
	</resultMap>
  
  <select id="selectList" resultMap="NoticeMap">
	SELECT
	    a.notice_idx,
	    a.employee_idx,
	    a.title,
	    a.ins_date,
	    a.upd_date,
	    
	    b.name,
	    b.en_name
	FROM
	    notice a
	    LEFT JOIN employee b ON a.employee_idx = b.employee_idx
	WHERE
	    NOT a.state = 0
  </select>
  
  <select id="select" resultMap="NoticeMap">
  	SELECT
  		*
 	FROM
 		notice
 	WHERE
 		notice_idx = #{noticeIdx}
  </select>
  
  <insert id="insert">
  	INSERT INTO
  		notice(
			notice_idx,
			employee_idx,
			title,
			content,
			"FILE"
  			)
 	VALUES(
 		NOTICE_SEQ.NEXTVAL,
 		#{employeeIdx},
 		#{title},
 		#{content},
 		#{file}
 		)
  </insert>
  
  <update id="update">
  	UPDATE
  		notice
  	SET
		title = #{title},
 		content = #{content},
 		"FILE" = #{file},
 		upd_date = SYSDATE
 	WHERE
 		notice_idx = #{noticeIdx}  	
  </update>
   
  <delete id="delete">
  	UPDATE
  		notice
  	SET
		state = 0,  	
  		del_date = SYSDATE
 	WHERE
 		notice_idx = #{noticeIdx}
  </delete>
  
  <delete id="deleteBySchedule">
	DELETE FROM (SELECT notice_idx, state
	             FROM notice
	             WHERE del_date + (INTERVAL '9' HOUR) + (INTERVAL '3' MONTH) > (SELECT SYSDATE + (INTERVAL '9' HOUR)
	                                                                            FROM dual)) del_data
	WHERE
	        del_data.state = 0
  </delete>
</mapper>