<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.groupware.mapper.ValidationMapper">

	<resultMap type="ValidationDTO" id="ValidationMap">
		<result property="loginId" column="LOGIN_ID"/>
		<result property="loginPw" column="LOGIN_PW"/>
		<result property="state" column="STATE"/>
	</resultMap>

  
  <select id="selectEmployeeById" resultMap="ValidationMap">
	SELECT
		login_id,
		login_pw,
		state
	FROM
	    employee
	WHERE
		login_id = #{loginId}

  </select>

</mapper>